<form>
  <div mat-dialog-title>Change Password</div>
  <form mat-dialog-content>
    <div class="field">
      <label class="label">old password</label>
      <div class="control">
        <input type="password" class="input" placeholder="***********" />
      </div>
    </div>
    <div class="field">
      <label class="label">new password</label>
      <div class="control">
        <input type="password" class="input" placeholder="***********" />
      </div>
    </div>
    <div class="field">
      <label class="label">new password confirmation</label>
      <div class="control">
        <input type="password" class="input" placeholder="***********" />
      </div>
    </div>
  </form>
  <div mat-dialog-actions>
    <button class="button is-light mr-4 ml-auto">Cancel</button>
    <button class="button is-link">Confirm</button>
  </div>
</form>
