<div class="card profile">
  <header class="card-header">
    <p class="card-header-title">Profile</p>
  </header>
  <div class="card-content p-0">
    <div class="is-column center_content profile-header">
      <figure class="image is-96x96">
        <img src="https://picsum.photos/400" alt="" class="is-rounded" />
      </figure>
      <div class="margin-vertical is-column">
        <strong> Restaurant Name </strong>
        <small>Fm_benlagha@esi.dz</small>
      </div>
    </div>
    <p class="item border-t border-gray-200 padding is-row center-vertical">
      Phone Number <span class="ml-auto">06634223</span>
    </p>
    <p class="item border-t border-gray-200 padding is-row center-vertical">
      Email <span class="ml-auto">fm_benlagha@esi.dz</span>
    </p>
    <p class="item border-t border-gray-200 padding is-row center-vertical">
      Signed up at
      <span class="ml-auto">{{ "10/23/2021" | date: "short" }}</span>
    </p>
    <p class="item border-t border-gray-200 padding is-row center-vertical">
      Orders <span class="ml-auto">12K</span>
    </p>
  </div>
  <footer class="card-footer padding center_content is-row">
    <button class="button is-light" (click)="handleChangePasswordClick()">
      Change Password
    </button>
  </footer>
</div>
