<div class="card">
  <header class="card-header">
    <div class="card-header-title">Top Food</div>
  </header>
  <div class="card-content relative">
    <div class="flex flex-row justify-evenly m-4">
      <div
        class="flex flex-row"
        *ngFor="let item of percentageData; let i = index"
      >
        <span
          class="tag is-danger text-white font-bold mr-4"
          [style]="'background-color: ' + chartColors[i]"
          >{{ item.percentage }}%</span
        >
        <small>{{ item.label }}</small>
      </div>
    </div>
    <div style="display: block; max-height: 500px">
      <canvas
        baseChart
        height="500px"
        [datasets]="chartConfigs.doughnutChartData"
        [labels]="labels"
        [colors]="chartConfigs.doughnutChartColors"
        [legend]="chartConfigs.doughnutChartLegend"
        [chartType]="chartConfigs.doughnutChartType"
        [options]="chartConfigs.chartOptions"
      ></canvas>
    </div>
  </div>
</div>
