<div class="columns">
  <div class="column is-12">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Delivery Regions</p>
        <button class="button is-primary" (click)="addRegion()">
          Add Region
        </button>
      </header>

      <div class="card-content">
        <div class="b-table">
          <div class="table-line table-header">
            <div class="table-item flex-1">Region Name</div>
            <div class="table-item flex-1">Price</div>
            <div class="table-item flex-1 flex-row flex justify-end pr-6">
              Actions
            </div>
          </div>

          <div class="table-line no-hover-action">
            <div class="table-item">Alger West</div>
            <div class="table-item">200 DA</div>
            <div class="table-item flex-1 flex-row flex justify-end pr-6">
              <i class="fas fa-pen text-gray-500 mr-4"></i>
              <i class="fas fa-trash text-gray-500"></i>
            </div>
          </div>
          <div class="table-line no-hover-action">
            <div class="table-item">Alger West</div>
            <div class="table-item">200 DA</div>
            <div class="table-item flex-1 flex-row flex justify-end pr-6">
              <i class="fas fa-pen text-gray-500 mr-4"></i>
              <i class="fas fa-trash text-gray-500"></i>
            </div>
          </div>
          <div class="table-line no-hover-action">
            <div class="table-item">Alger West</div>
            <div class="table-item">200 DA</div>
            <div class="table-item flex-1 flex-row flex justify-end pr-6">
              <i class="fas fa-pen text-gray-500 mr-4"></i>
              <i class="fas fa-trash text-gray-500"></i>
            </div>
          </div>
          <div class="table-line no-hover-action">
            <div class="table-item">Alger West</div>
            <div class="table-item">200 DA</div>
            <div class="table-item flex-1 flex-row flex justify-end pr-6">
              <i class="fas fa-pen text-gray-500 mr-4"></i>
              <i class="fas fa-trash text-gray-500"></i>
            </div>
          </div>
          <div class="table-line no-hover-action">
            <div class="table-item">Alger West</div>
            <div class="table-item">200 DA</div>
            <div class="table-item flex-1 flex-row flex justify-end pr-6">
              <i class="fas fa-pen text-gray-500 mr-4"></i>
              <i class="fas fa-trash text-gray-500"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
