<div class="columns">
  <div class="column is-12">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Add Product Form</p>
      </header>
      <div class="card-content">
        <div>
          <div class="is-row">
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="Food"
                  required
                  minlength="4"
                  maxlength="100"
                />
              </div>
            </div>
            <div class="field">
              <label class="label">Category</label>
              <select
                value="0"
                required
                class="
                  rounded-md
                  bg-white
                  py-1.5
                  px-3
                  border border-gray-300
                  transition
                  400ms
                "
              >
                <option>Select Category</option>
              </select>
            </div>
          </div>
          <div class="is-row">
            <div class="field">
              <label class="label">Price</label>
              <input
                type="number"
                placeholder="0"
                class="input"
                required
                min="0"
              />
            </div>
            <div class="field">
              <label class="label">Discount</label>
              <input
                type="number"
                placeholder="0%"
                class="input"
                defaultValue="0"
                required
              />
            </div>
          </div>
          <div class="field">
            <label class="label">Ingredients</label>
            <div class="is-row">
              <input
                class="input"
                type="text"
                placeholder="new Ingredient"
                style="margin-right: 20px"
                maxlength="30"
                minlength="3"
                [(ngModel)]="ingredientInput"
                (keydown.enter)="addNewIngredient()"
              />
              <button class="button is-link" (click)="addNewIngredient()">
                Add Ingredient
              </button>
            </div>
          </div>
          <div class="ingredients">
            <span
              class="tag is-danger"
              *ngFor="let ingredient of ingredients; let i = index"
              >{{ ingredient }}
              <i class="fas fa-times" (click)="removeIngredient(i)"></i>
            </span>
          </div>

          <div class="field">
            <label class="label">Description</label>
            <div class="control">
              <!-- <angular-editor placeholder="Enter text here..."></angular-editor> -->
              <textarea
                class="textarea"
                placeholder="description"
                required
              ></textarea>
            </div>
          </div>
        </div>

        <p class="font-bold mt-5">Food Images</p>

        <div class="flex flex-row flex-wrap">
          <img
            src="https://picsum.photos/400"
            class="w-36 h-36 mr-4 mt-4 rounded-md"
          />
          <img
            src="https://picsum.photos/400"
            class="w-36 h-36 mr-4 mt-4 rounded-md"
          />
          <img
            src="https://picsum.photos/400"
            class="w-36 h-36 mr-4 mt-4 rounded-md"
          />
          <img
            src="https://picsum.photos/400"
            class="w-36 h-36 mr-4 mt-4 rounded-md"
          />
          <img
            src="https://picsum.photos/400"
            class="w-36 h-36 mr-4 mt-4 rounded-md"
          />
          <div
            class="
              img_container
              center_content
              mt-4
              bg-green-50
              w-36
              h-36
              rounded-md
            "
          >
            <i class="fas fa-upload"></i>
          </div>
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item">Delete</a>
        <a class="card-footer-item">Edit</a>
        <a class="card-footer-item">Save</a>
      </footer>
    </div>
  </div>
</div>
