<div class="columns is-multiline">
  <div class="column is-3-desktop is-6-tablet is-12-mobile">
    <app-order-statistic-card
      [item]="statistics.pending"
      icon="fa-pause"
    ></app-order-statistic-card>
  </div>
  <div class="column is-3-desktop is-6-tablet is-12-mobile">
    <app-order-statistic-card
      [item]="statistics.beingDelivered"
      icon="fa-truck-moving"
    ></app-order-statistic-card>
  </div>
  <div class="column is-3-desktop is-6-tablet is-12-mobile">
    <app-order-statistic-card
      [item]="statistics.done"
      icon="fa-check"
    ></app-order-statistic-card>
  </div>
  <div class="column is-3-desktop is-6-tablet is-12-mobile">
    <app-order-statistic-card
      [item]="statistics.canceled"
      icon="fa-window-close"
    ></app-order-statistic-card>
  </div>
</div>

<div class="card">
  <header class="card-header">
    <p class="card-header-title">Orders</p>
    <div class="card-header-actions">
      <div class="field margin-right">
        <p class="control has-icons-right">
          <input class="input" type="search" placeholder="search..." />
          <span class="icon is-small is-right">
            <i class="fas fa-search"></i>
          </span>
        </p>
      </div>
      <button class="button is-primary">Filter Orders</button>
    </div>
  </header>
  <div class="card-content">
    <div class="b-table">
      <div class="table-line table-header">
        <div class="table-item flex-2">Client</div>
        <div class="table-item flex-2">Address</div>
        <div class="table-item flex-2">Order</div>
        <div class="table-item">Total Price</div>
        <div class="table-item">Status</div>
        <div class="table-item flex-2">Order Time</div>
      </div>

      <div
        class="orderItem"
        *ngFor="let order of orders"
        (click)="expendOrder(order.id)"
      >
        <div class="table-line">
          <div class="table-item flex-2 is-row center-vertical">
            <figure class="image is-64x64 margin-right">
              <img [src]="order.client.imageUrl" class="is-rounded" />
            </figure>
            <div class="infos is-column">
              <strong>{{
                order.client.firstName + " " + order.client.lastName
              }}</strong>
              <span style="color: #888">{{ order.client.phoneNumber }}</span>
            </div>
          </div>
          <div class="table-item flex-2">
            {{ order.address.address + "," + order.address.wilaya.name }}
          </div>
          <div class="table-item flex-2">
            <strong>{{ order.foodItems.length }} Items</strong>
          </div>
          <div class="table-item">
            <strong>{{ order.totalPrice }} DA</strong>
          </div>
          <div class="table-item">
            <span class="tag" [class]="setOrderClass(order.state)">
              {{ ORDER_STATES[order.state] }}</span
            >
          </div>
          <div class="table-item flex-2">
            <p>{{ order.createdAt | date: "short" }}</p>
          </div>
        </div>
        <div
          class="flex flex-col bg-gray-100 p-4"
          *ngIf="order.id == expendedOrder"
          [@listAnimation]
        >
          <div class="flex flex-wrap flex-row items-center">
            <div
              class="flex flex-row items-center mr-5 p-2"
              *ngFor="let food of order.foodItems"
            >
              <figure class="image is-48x48">
                <img [src]="food.food.imageUrl" alt="food" class="rounded-md" />
              </figure>
              <strong class="mx-4">{{ food.food.foodName }}</strong>
              <span class="tag is-medium is-info">{{ food.qte }}</span>
            </div>
          </div>
          <a class="button is-link mt-4" [routerLink]="order.id.toString()"
            >View all</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
