nav {
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 4;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
  transition-duration: 200ms;
  left: var(--side-menu-width);

  .field {
    margin: 0px;
    margin-right: 16px;
  }
  .fa-bars {
    margin-right: auto;
    margin-left: 16px;
  }
  i {
    font-size: 20px;
    margin: 0px 24px;
    color: var(--gray);
    cursor: pointer;
  }
  .user {
    margin: 0px 16px;

    span {
      color: var(--gray);
      font-size: 14px;
    }
  }
}

.full_width {
  left: 0px;
}

.mat-menu-item {
  width: 200px;
  i {
    color: #888;
  }
}
