<nav
  [class.full_width]="!isSideMenuOpen"
  class="is-danger navbar z-10 top-0 right-0 fixed flex items-center shadow p-2"
>
  <i class="fas fa-bars mx-4" (click)="handleToggleSideMenu()"></i>

  <div class="nav-actions flex flex-row items-center ml-auto">
    <i class="far fa-bell mx-4"></i>
    <div class="user flex flex-row items-center" [matMenuTriggerFor]="menu">
      <figure class="image is-48x48 bg-gray-100 rounded-full">
        <img class="is-rounded" src="https://picsum.photos/400" alt="" />
      </figure>
      <div class="mx-2">
        <p>User Name</p>
        <small class="text-sm">fm_benlagha@esi.dz</small>
      </div>
    </div>
    <mat-menu #menu="matMenu">
      <button
        routerLink="settings"
        mat-menu-item
        class="is-row center-vertical"
      >
        <i class="fas fa-cog margin-right text-gray-400"></i>
        <span>Settings</span>
      </button>
      <button mat-menu-item routerLink="/auth/login">
        <i class="fas fa-sign-out-alt margin-right text-gray-400"></i>
        <span>Log out</span>
      </button>
    </mat-menu>
  </div>
</nav>
