<div class="columns is-multiline">
  <div class="column is-5-desktop is-12-tablet is-12-mobile">
    <app-profile-card></app-profile-card>
  </div>
  <div class="column is-7-desktop is-12-tablet is-12-mobile">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Information</p>
      </header>
      <div class="card-content">
        <form>
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input type="email" class="input" placeholder="email" />
            </div>
          </div>
          <div class="field">
            <label class="label">About</label>
            <div class="control">
              <textarea class="textarea" placeholder="About"></textarea>
            </div>
          </div>
        </form>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item">Edit</a>
      </footer>
    </div>
  </div>
</div>
