<div class="columns is-multiline">
  <div class="column is-5-desktop is-12-tablet is-12-mobile">
    <div class="card profile">
      <header class="card-header">
        <p class="card-header-title">Profile</p>
      </header>
      <div class="card-content">
        <div class="is-column center_content profile-header">
          <figure class="image is-96x96">
            <img src="https://picsum.photos/400" alt="" class="is-rounded" />
          </figure>
          <div class="margin-vertical is-column">
            <strong> Restaurant Name </strong>
            <small>Fm_benlagha@esi.dz</small>
          </div>
        </div>
        <p class="item padding is-row center-vertical">
          Phone Number <span>06634223</span>
        </p>
        <p class="item padding is-row center-vertical">
          Email <span>fm_benlagha@esi.dz</span>
        </p>
        <p class="item padding is-row center-vertical">
          Signed up at <span>{{ "10/23/2021" | date: "short" }}</span>
        </p>
        <p class="item padding is-row center-vertical">
          Phone Number <span>06634223</span>
        </p>
        <p class="item padding is-row center-vertical">
          Phone Number <span>06634223</span>
        </p>
      </div>
      <footer class="card-footer padding center_content is-row">
        <button class="button is-light">Change Password</button>
      </footer>
    </div>
  </div>
  <div class="column is-7-desktop is-12-tablet is-12-mobile">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Information</p>
      </header>
      <div class="card-content">
        <form>
          <div class="field">
            <label class="label">Email</label>
            <div class="control">
              <input type="email" class="input" placeholder="email" />
            </div>
          </div>
          <div class="field">
            <label class="label">About</label>
            <div class="control">
              <textarea class="textarea" placeholder="About"></textarea>
            </div>
          </div>
        </form>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item">Edit</a>
      </footer>
    </div>
  </div>
</div>
