<div
  class="
    mb-2
    text-white
    rounded-md
    p-5
    pr-6
    flex flex-row
    items-center
    relative
    alert-container
  "
  [class]="alert.type == 'SUCCESS' ? 'bg-green-600' : 'bg-red-600'"
  [style]="isClosing ? 'animation-name: closeNotification' : ''"
>
  <i
    class="fas fa-times absolute right-4 top-4 cursor-pointer"
    (click)="dispatchDelete()"
  ></i>
  <i
    class="
      icon
      fas
      fa-check
      border border-white
      rounded-full
      mr-4
      flex
      center_content
    "
    [class.fa-times]="alert.type == 'ERROR'"
  ></i>
  <p>
    {{ alert.message }}
  </p>
  <small class="absolute bottom-4 right-4 text-white text-sm">{{
    alert.id | date: "medium"
  }}</small>
</div>

<style>
  .alert-container {
    animation: openNotification 300ms;
    transition-duration: 200ms;
  }
  @keyframes openNotification {
    0% {
      opacity: 0;
      transform: translateY(20px) scale(0.95);
    }
  }
  @keyframes closeNotification {
    40% {
      transform: scale(1.05) translateY(-10px);
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(20px) scale(0.95);
    }
  }
</style>
