<div class="columns is-multiline">
  <div class="column is-12">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Subscriptions</p>
      </header>
      <div class="card-content">
        <div class="b-table">
          <div class="table-line table-header">
            <div class="table-item flex-1">Name</div>
            <div class="table-item flex-1">Price</div>
            <div class="table-item flex-1 place-content-center">
              Number of Products
            </div>
            <div class="table-item flex-1">Duration</div>
            <div class="table-item flex-2">Description</div>
          </div>
          <app-subscription-list-item
            (click)="openDetails()"
          ></app-subscription-list-item>
          <app-subscription-list-item
            (click)="openDetails()"
          ></app-subscription-list-item>
          <app-subscription-list-item
            (click)="openDetails()"
          ></app-subscription-list-item>
          <app-subscription-list-item
            (click)="openDetails()"
          ></app-subscription-list-item>
        </div>
      </div>
    </div>
  </div>
</div>
