<div class="card">
  <div class="card-image" [routerLink]="'/dashboard/menu/' + food.id">
    <figure class="image is-3by2">
      <img [src]="food.imageUrl" [alt]="food.foodName" />
    </figure>
  </div>
  <div class="card-content">
    <span class="tag is-danger is-bold">{{ food.price }} DA</span>
    <div class="media">
      <div class="media-content">
        <p class="title is-6">{{ food.foodName }}</p>
        <p>{{ food.category.name }}</p>
      </div>
    </div>
    <div class="is-row center-vertical space-between">
      <p>Available:</p>
      <app-toggle-switch [state]="true"></app-toggle-switch>
    </div>
  </div>
</div>
