<div class="columns is-multiline">
  <div class="column is-12">
    <div class="card">
      <header class="card-header">
        <div class="card-header-title">Orders Income</div>
      </header>
      <div class="card-content"></div>
    </div>
  </div>
  <div class="column is-6">
    <div class="card">
      <header class="card-header">
        <div class="card-header-title">Top Food</div>
      </header>
      <div class="card-content"></div>
    </div>
  </div>
  <div class="column is-6">
    <div class="card">
      <header class="card-header">
        <div class="card-header-title">Month revenue</div>
      </header>
      <div class="card-content"></div>
    </div>
  </div>
</div>
