<div class="columns is-multiline">
  <div class="column is-12">
    <app-order-income-chart
      [data]="incomeData"
      (timeRangeEvent)="handleTimeChange($event)"
    ></app-order-income-chart>
  </div>
  <div class="column is-6">
    <app-top-food-chart></app-top-food-chart>
  </div>
  <div class="column is-6">
    <div class="card">
      <header class="card-header">
        <div class="card-header-title">Month revenue</div>
      </header>
      <div class="card-content"></div>
    </div>
  </div>
</div>
