<!-- <div class="side_menu shadow" *ngIf="isSideMenuOpen" [@inOutAnimation]> -->
<div class="side_menu shadow" [class.minimized]="!isSideMenuOpen">
  <i class="fas fa-times" (click)="closeSideMenu()"></i>
  <div class="header">
    <img src="./../../../../assets/images/logo.png" alt="" />
  </div>
  <div
    class="item_container"
    *ngFor="let route of routes; let itemIndex = index"
    [class.selected]="itemIndex == selectedItem"
  >
    <div class="item" [routerLink]="route.url">
      <i [class]="'fas ' + route.icon"></i>
      <span>{{ route.name }}</span>
      <i class="fas fa-angle-down" *ngIf="route.subSections.length > 0"></i>
    </div>
    <div
      class="list"
      *ngIf="selectedItem == itemIndex && route.subSections.length > 0"
      [@listAnimation]
    >
      <div
        class="list_item"
        *ngFor="let item of route.subSections"
        [routerLink]="route.url + '/' + item.url"
      >
        <div class="circle rounded-full bg-red-600 h-2 w-2"></div>
        <p>{{ item.name }}</p>
      </div>
    </div>
  </div>
</div>
