<div class="side_menu shadow" *ngIf="isSideMenuOpen" [@inOutAnimation]>
  <div class="header">
    <img src="./../../../../assets/images/logo.png" alt="" />
  </div>
  <div class="content">
    <div
      class="item_container"
      *ngFor="let route of ROUTES"
      [routerLink]="route.url"
    >
      <div class="item">
        <i [class]="'fas ' + route.icon"></i>
        <span>{{ route.name }}</span>
        <i class="fas fa-angle-down"></i>
      </div>
      <div class="list">
        <div class="list_item" *ngFor="let item of route.subSections">
          <p>{{ item }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
