.side_menu {
  position: fixed;
  width: var(--side-menu-width);
  background-color: white;
  height: 100vh;
  overflow: auto !important;
  top: 0px;
  left: 0px;

  .header {
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-red);
    img {
      width: 120px;
    }
  }

  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 32px;
    height: 60px;
    cursor: pointer;
    font-size: 14px;
    transition-duration: 200ms;
    i {
      margin-right: 20px;
      transition-duration: 200ms;
    }

    .fa-angle-down {
      margin: 0px;
      margin-left: auto;
    }

    &:hover {
      color: red;
      background-color: whitesmoke;
    }
  }

  .item_container {
    .list {
      background-color: whitesmoke;
    }
    .list_item {
      font-size: 14px;
      padding: 16px;
      padding-left: 25%;
      cursor: pointer;
    }
    .list_item:hover {
      color: red;
    }
  }

  .selected {
    color: red !important;
    background-color: whitesmoke;

    .fa-angle-down {
      transform: rotate(180deg);
    }
  }
}

.fa-times {
  position: absolute;
  top: 30px;
  right: 20px;
  display: none;
}
