@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
:root {
  --bg-color: rgb(243, 244, 253);
  --bg-red: rgba(255, 200, 200, 0.5);
  --gray: #888;
  --side-menu-width: 300px;
}

*:not(i) {
  padding: 0px;
  margin: 0px;
  font-size: 15px;
  font-family: "Titillium Web" !important;
}

.label {
  font-size: 15px;
}

.no-hover-action:hover {
  background-color: white !important;
  cursor: default !important;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: lightcoral;
  // outline: 1px solid slategrey;
  border-radius: 4px;
}

html,
body {
  padding: 0px;
  margin: 0px;
  background-color: var(--bg-color);
  position: relative;
  overflow: hidden;
}

.shadow {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.is-bold {
  font-weight: bold;
}

.page_container {
  transition-duration: 200ms;
  padding: 20px;
  padding-top: 84px;
  height: 100vh;

  overflow-y: auto;
  overflow-x: hidden;
}

button,
i,
.is_clickable {
  transition-duration: 200ms;
}

button:active,
.is_clickable:active,
i:active {
  transform: scale(0.95);
  box-shadow: 1px 2px 4px #ddd;
}

.center_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-header {
  padding: 8px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #eee;
  box-shadow: none;
}

.is-row {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.is-column {
  display: flex;
  flex-direction: column !important;
}
.center-vertical {
  display: flex;
  align-items: center;
}

.center-horizontal {
  display: flex;
  justify-content: center;
}

.card-header {
  padding: 8px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.border-radius-4 {
  border-radius: 4px !important;
}

.flex-1 {
  flex: 1 !important;
}
.flex-2 {
  flex: 2 !important;
}

.flex-3 {
  flex: 3 !important;
}
.flex-4 {
  flex: 4 !important;
}

.b-table {
  .table-line {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 16px;
    cursor: pointer;
    transition-duration: 200ms;
    width: 100% !important;
  }
  .table-header {
    background-color: whitesmoke;
    color: rgb(87, 86, 86);
    font-weight: bold;
    font-size: 15px;
    cursor: unset;
  }

  .table-line:hover {
    background-color: rgba(238, 238, 238, 0.445);
  }
  .table-item {
    flex: 1;
  }
}

.padding {
  padding: 20px;
}
.padding-vertical {
  padding: 20px 0px;
}

.padding-horizontal {
  padding-inline: 20px;
}

@media only screen and (max-width: 1200px) {
  .side_menu {
    position: absolute;
    z-index: 10;

    .fa-times {
      display: block !important;
    }
  }
  .full_width {
    margin-left: 0px !important;
  }
  nav {
    left: 0px !important;
  }
}

@media only screen and (max-width: 700px) {
  .table-item {
    flex: 4 !important;
  }

  nav {
    left: 0px !important;
    .nav-actions {
      display: none;
    }
  }
}

.card-header-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  .field {
    margin-bottom: 0px;
  }
}

.margin-right {
  margin-right: 20px;
}
.margin-left {
  margin-left: 20px;
}

.margin-vertical {
  margin-top: 20px;
  margin-bottom: 20px;
}

.space-between {
  justify-content: space-between;
}

img {
  object-fit: cover;
}

.is-64x64 {
  img {
    height: 64px;
    width: 64px;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
