<div mat-dialog-title>Premium</div>
<div mat-dialog-content>
  <p>Storage <strong class="ml-4">100 food</strong></p>
  <p>Duration <strong class="ml-4">12 Months</strong></p>
  <p>Price <strong class="ml-4">12000 DA</strong></p>
  <p class="text-gray-500">
    Lorem ipsum dolor sit amet, officia excepteur ex fugiat reprehenderit enim
    labore culpa sint ad nisi Lorem pariatur mollit ex esse exercitation amet.
    Nisi anim cupidatat excepteur officia. Reprehenderit nostrud nostrud ipsum
  </p>
</div>
<div mat-dialog-actions>
  <button class="button is-light ml-auto mr-4" (click)="onClose()">
    Close
  </button>
  <button class="button is-link" (click)="onRequest()">Request</button>
</div>
